<header class="site-header">

  <div class="wrapper">

    
    <section>
      <h1 class="site-title" href="{{ site.baseurl }}/">{{ page.title }}</h1>
      <h2 class="project-tagline">Arizona Phonological Imaging Lab</h2>
      <a href="https://github.com/arizona-phonological-imaging-lab/Autotrace" class="btn">View on GitHub</a>
      <a href="https://github.com/arizona-phonological-imaging-lab/Autotrace/zipball/master" class="btn">Download [old] Autotrace.zip</a>
      <a href="https://github.com/arizona-phonological-imaging-lab/Autotrace/tarball/master" class="btn">Download [old] Autotrace.tar.gz</a><br>
      <a href="https://github.com/arizona-phonological-imaging-lab/apilweb-django/zipball/master" class="btn">Download Database.zip</a>
      <a href="https://github.com/arizona-phonological-imaging-lab/apilweb-django/tarball/master" class="btn">Download Database.tar.gz</a>
    
      {% include nav.html %}

    </section>

  </div>

</header>
